{% extends 'watchlist/layout.html' %}

{% block title %}
Watchlist generator
{% endblock %}

{% block section %}
<div class="text-box" id="forms_tmp">
    <h1>Filter zone</h1>

    <p>In this section, you can choose whether you want to filter the videos by cinematic or personal features.
        You can choose only one option. After clicking the button, you will see the appropriate form
        that must be completed.</p>
    <p>Fields with a note (min) mean that you enter the minimum value from which the films will be filtered
        for the selected parameter. Rating and number of videos are fields that you MUST fill in,
        the rest is optional. However, take into account that when filtering people, be sure to enter their
        year of birth (there are duplicates of people with the same names and surnames in the database).</p>

    <h4>Which filtering option would you like to choose?</h4>

    {% for i in radio_form %}
        {{ i }}
    {% endfor %}

    <a onclick="formRedirect()" id="radio_redirect" class="hero-btn">This is my choice!</a>
</div>
{% endblock %}

{% block body %}
<script>
    function formRedirect(){
        var radioValue = document.querySelector('input[name="radio_select"]:checked').value;
        if (radioValue === 'movies')
        {
            document.getElementById("radio_redirect").onclick = function ()
            {
            window.location.href = "{% url 'watchlist:forms_movies' %}"
            };
        }
        else if (radioValue === 'people')
        {
            document.getElementById("radio_redirect").onclick = function ()
            {
            window.location.href = "{% url 'watchlist:forms_people' %}"
            };
        }
    }
</script>
{% endblock %}
