{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="with=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'watchlist/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap" rel="stylesheet">

</head>
<body id="bg" style="background-image: url({% static 'watchlist/images/cinema.png' %})");>
        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="{% url 'watchlist:home' %}">HOME</a></li>
                    <li><a href="{% url 'watchlist:forms' %}">FORMS</a></li>
                </ul>
            </div>
        </nav>
    {% block section %}
    {% endblock %}

    {% block body %}
    {% endblock %}
</body>
</html>